name: CI
on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt install -y libpcap-dev

      - uses: actions/setup-python@v3

      - uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv
        # looks for changes in requirements.txt
        with:
          requirement_files: requirements.txt

      - uses: syphar/restore-pip-download-cache@v1
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

        # the package installation will only be executed when the
        # requirements-files have changed.
      - run: pip install -r requirements.txt; pip install pytest autoflake black isort
        #if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - name: Test
        run: pytest

  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt install -y libpcap-dev

      - uses: actions/setup-python@v3

      - uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv
        # looks for changes in requirements.txt
        with:
          requirement_files: requirements.txt

      - uses: syphar/restore-pip-download-cache@v1
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

        # the package installation will only be executed when the
        # requirements-files have changed.
      - run: pip install -r requirements.txt; pip install pytest autoflake black isort
        #if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - name: Linting
        run: scripts/linters.sh
